* {
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    height: 100%;
}

.container {
    background: #ff4949;
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
}

.row {
    background: #79ff79;
    flex: 1 1 33.3333%;
    min-height: 300px;
}

.col-b {
    background: #5353fe;
    flex: 1 1 50%;
    min-height: 200px;
}

.col-y {
    background: #ffff5a;
    flex: 1 1 25%;
    min-height: 200px;
}

.col-gap {
    column-gap: 10px;
}

.col-40 {
    flex-basis: 50%;
    min-height: 200px;
}

.col-60 {
    flex: 0 2 100%;
    min-height: 200px;
}

.bg-rose {
    background: #fe66fa;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.p-10 {
    padding: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

@media (max-width: 991px) {
    .col-b {
        width: 100%;
        max-width: 100%;
    }

}